// .gitnignore
# Para funcionar na umbler é preciso commitar todas as dependencias.

# next.js build output
#.next

# dotenv environment variables file (build for Zeit Now)
.env
.env.build

# Dependency directories
#node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*